# Git
.git
.gitignore

# 환경변수
.env
*.env

# Python 캐시 파일
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp.*

# 가상환경
venv/
env/
project_env/

# 로그 데이터
data/

# 기획/개발 문서
etc/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
